{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" id="templateContainer">
            <div class="row">
                <div class="col">
                    <h1>EconomistsForFuture</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% if error is defined %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong>&nbsp;{{ error }}
                    </div>
                    {% endif %}
                    <div class="col mt-20">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                            takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    {{ form(form) }}
                </div>
            </div>
    </div>
{% endblock %}
