{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your signature will only be counted after you have clicked on a link in a verification Email.</h2>
        </div>
    </div>
</div>
{% endblock %}
